
#about-header {
    height: 80vh;
  }
  #about-hero {
    grid-template-rows: 36% 64%;
  }
  .about-img {
    width: 60%;
    margin: 0 auto;
  }
  .about-right-side h2 {
    line-height: 1;
    letter-spacing: 0;
    font-size: 1rem;
  }
  .about-right-side p {
    font-size: 12px;
  }
  .add-info {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
  .add-info .info {
    padding: 8px;
  }
  .info .icon {
    font-size: 10px;
  }

  /* == home page our team */
  #our-team-members {
    margin-top: 6rem;
  }
